<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Redirecting...</title>
</head>
    <!--Instead of making a new CSS, we are making an inbuilt css in the Html PAGE-->
    <style>
        body {
            font-family: Arial, sans-serif;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }
        .message {
            font-size: 20px;
            color: #424242;
        }
    </style>
    <!--This makes the refresh page stay for 3 sec before carrying us to the verify page-->
   <meta http-equiv="refresh" content="3;url=login.html">
<body>
    <!--This is the message that will be Displayed-->
    <div class="message">Please wait while we redirect you...</div>

</body>
</html>
